@page "/editemployee/{id}"

@inherits EditEmployeeBase

@{
    var employee = Employee;
}

<h3>Edit Employee</h3>

@if (employee == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="@Employee">
        

        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <InputText id="firstName" class="form-control" @bind-Value="Employee.FirstName" />
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <InputText id="lastName" class="form-control" @bind-Value="Employee.LastName" />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <InputText id="email" class="form-control" @bind-Value="Employee.Email" />
        </div>

        

        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}


