@page "/"
@inherits EmployeeListBase

<h3>Selected Employee Count - @SelectedEmployeeCount</h3>
<input type="checkbox" disabled="showFooter" @bind="ShowFooter"/>
<label for="showFooter">Show Footer</label>
@if (Employees != null && Employees.Any())
{
     <div class="row">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" ShowFooter="ShowFooter" OnEmployeeSelection = "EmployeeSelectionChanged"></DisplayEmployee>
        }
    </div>
    
}
else if(Employees == null)
{
   <div class="spinner"></div>
}
else
{
    <p>No employees available.</p>
}
